#about {
  width: 100%;
  height: 27rem;
  display: grid;
  grid-column: 1/-1;
  grid-row: 4;
  grid-template-columns: subgrid;
  margin-top: -5rem;
}

#about .container {
  margin: 1.5rem 70px;
  display: grid;
  grid-column: 3/-3;
  grid-template-columns: subgrid;
}

#about .content {
  grid-column: 1/4;
  row-gap: 5rem;
  padding-top: 2rem;
  color: var(--secondary-dark);
}

#about .content > h1 {
  color: var(--primary-green);
}

#about .content > h2 {
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

#about .content > p {
  margin-bottom: 1rem;
}

#about .image-wrapper {
  display: flex;
  height: 21rem;
  justify-content: flex-start;
  width: 16.75rem;
  margin-bottom: -100px;
  grid-column: 5/9;
}

.about-img {
  display: block;
  margin-left: 3rem;
  width: 16.75rem;
  height: 21rem;
  border-radius: 20px;
  object-fit: cover;
  margin: -2rem;
}

.about-img.first {
  margin-top: 2rem;
}

@media (max-width: 440px) {
  #about {
    height: 44rem;
  }

  #about .container {
    grid-column: 1/-1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  #about .content {
    padding-top: 0;
  }

  #about .image-wrapper {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .about-img {
    margin-left: 0;
    margin: 0;
  }

  .about-wrapper + img {
    margin-top: 0;
  }

  .about-img.last {
    display: none;
  }

  .about-img.last {
    margin-top: 0;
  }
}
