.main-booking {
  grid-row: 2;
  grid-column: 1/-1;
}

.booking-wrapper {
  width: 100%;
  height: calc(100dvh - (7.7rem));
  margin: 0;
  grid-column: 1/-1;
  grid-template-columns: unset;
  background-color: var(--primary-green);
}

.label {
  font-family: "Karla";
  text-transform: capitalize;
  font-weight: 800;
  font-size: 1.25rem;
}

.main-booking .container {
  grid-template-columns: unset;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.main-booking .content {
  text-align: center;
  padding: 0;
  min-width: 100%;
  margin-top: 2rem;
}

#booking-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: none;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid var(--secondary-light);
  border-radius: 4px;
}

input[type="date"],
select {
  width: 100%;
  font-size: 1rem;
}

input[type="number"] {
  width: 100px;
}

#booking-form .reserve-button {
  width: 100%;
  margin-top: 1rem;
  min-height: 3rem;
}

@media (max-width: 440px) {
  .main-booking {
    padding: 0 0.5rem;
  }

  .booking-wrapper {
    height: calc(100dvh - (5rem));
    padding: 0 0.5rem;
  }

  .main-booking .content {
    text-align: left;
    padding: 0 1rem;
  }

  #booking-form {
    gap: 2rem;
  }

  input,
  select {
    font-size: 0.8rem;
  }
}
