.footer {
  grid-row: 3;
  grid-column: 1/13;
  width: 100%;
  background-color: var(--primary-green);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: subgrid;
}

.footer .container {
  display: flex;
  grid-column: 3/-3;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.footer .links {
  flex-direction: column;
  margin: 0;
}

footer h5 {
  margin-bottom: 1rem;
}

footer img {
  height: 17.5rem;
  fill: brown;
  margin-top: -5rem;
}

footer img ~ div {
  padding-top: 2rem;
}
