.footer {
  grid-row: 3;
  grid-column: 1/-1;
  width: 100%;
  background-color: var(--secondary-light);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: subgrid;
  height: 24rem;
}

.footer .container {
  display: flex;
  grid-column: 3/-3;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.footer .links {
  flex-direction: column;
  margin: 0;
}

footer h5 {
  margin-bottom: 1rem;
}

footer img {
  height: 17.5rem;
  fill: brown;
}

footer img ~ div {
  padding-top: 2rem;
}

@media (max-width: 440px) {
  .footer {
    height: 15rem;
  }

  .footer .container {
    flex-direction: row;
    grid-column: 1/-1;
    justify-content: center;
  }

  footer img {
    display: none;
  }

  footer img ~ div {
    padding-top: 0;
  }
}
