.hero {
  width: 100%;
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  padding-bottom: 2rem;
  grid-template-columns: subgrid;
  background-color: var(--primary-green);
}

.container {
  margin: 1.5rem 70px;
  display: grid;
  grid-column: 3/-3;
  grid-template-columns: subgrid;
}

.content {
  grid-column: 1/4;
  color: var(--secondary-light);
  padding-top: 2rem;
}

.content > h1 {
  color: var(--primary-yellow);
}

.content > h2 {
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

.content > p {
  margin-bottom: 1rem;
}

.reserve-button {
  background-color: var(--primary-yellow);
  color: var(--secondary-dark);
  width: 11.25rem;
  height: 3.313rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.reserve-button:hover {
  background-color: var(--primary-green);
  color: var(--secondary-light);
  border: 5px solid var(--secondary-light);
}

.reserve-button.disabled {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
  transition: none;
}

.image-wrapper {
  width: 375px;
  margin-bottom: -100px;
  grid-column: 5/9;
}

.hero-img {
  margin-left: 3rem;
  width: 375px;
  height: 407px;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 440px) {
  .hero {
    grid-template-columns: none;
  }

  .hero .container {
    margin: 0;
    padding: 0 1rem;
  }

  .content {
    grid-column: unset;
    padding-top: 0;
  }

  .content > h1 {
    text-wrap: nowrap;
  }

  .image-wrapper {
    margin: auto 0;
    margin-top: 6rem;
    margin-left: -3rem;
  }

  .hero-img {
    margin: 0;
    width: 10rem;
    height: 10rem;
  }

  .reserve-button {
    height: 2.3rem;
  }
}
